In [ ]:
from google.colab import drive
import os
drive.mount('/content/drive/')
os.chdir('/content/drive/My Drive/CA675/Data')

Mounted at /content/drive/

##First Clean

In [ ]:
import pandas as pd
listFileName = ['Chicago_Crimes_2012_to_2017.csv']
df = pd.DataFrame()
for i in listFileName:
  df = df.append(pd.read_csv(i))

In [ ]:
df=df.drop('ID',axis=1)
df=df.drop('Unnamed: 0',axis=1)
df=df.drop('Case Number',axis=1)
df=df.drop('IUCR',axis=1)
df=df.drop('Location Description',axis=1)
df=df.drop('Domestic',axis=1)
df=df.drop('Beat',axis=1)
df=df.drop('District',axis=1)
df=df.drop('Ward',axis=1)
df=df.drop('Community Area',axis=1)
df=df.drop('FBI Code',axis=1)
df=df.drop('X Coordinate',axis=1)
df=df.drop('Y Coordinate',axis=1)
df=df.drop('Updated On',axis=1)
df=df.drop('Location',axis=1)

In [ ]:
df.rename(columns={'Primary Type':'Primary'},inplace=True)

In [ ]:
df

                           Date                 Block  ...   Latitude  Longitude
0        05/03/2016 11:40:00 PM    013XX S SAWYER AVE  ...  41.864073 -87.706819
1        05/03/2016 09:40:00 PM    061XX S DREXEL AVE  ...  41.782922 -87.604363
2        05/03/2016 11:31:00 PM   053XX W CHICAGO AVE  ...  41.894908 -87.758372
3        05/03/2016 10:10:00 PM     049XX W FULTON ST  ...  41.885687 -87.749516
4        05/03/2016 10:00:00 PM     003XX N LOTUS AVE  ...  41.886297 -87.761751
...                         ...                   ...  ...        ...        ...
1456709  05/03/2016 11:33:00 PM       026XX W 23RD PL  ...  41.849222 -87.691556
1456710  05/03/2016 11:30:00 PM   073XX S HARVARD AVE  ...  41.760744 -87.633335
1456711  05/03/2016 12:15:00 AM       024XX W 63RD ST  ...  41.779235 -87.685207
1456712  05/03/2016 09:07:00 PM  082XX S EXCHANGE AVE  ...  41.745252 -87.552773
1456713  05/03/2016 11:38:00 PM       001XX E 75TH ST  ...  41.758309 -87.620658

[1456714 rows x 8 columns]

In [ ]:
df.to_csv('firstCrimeClean.csv')

In [ ]:
df.columns

Index(['Unnamed: 0', 'ID', 'Case Number', 'Date', 'Block', 'IUCR',
       'Primary Type', 'Description', 'Location Description', 'Arrest',
       'Domestic', 'Beat', 'District', 'Ward', 'Community Area', 'FBI Code',
       'X Coordinate', 'Y Coordinate', 'Year', 'Updated On', 'Latitude',
       'Longitude', 'Location'],
      dtype='object')

## Transfer to Json

In [ ]:
import pandas as pd
df_o = pd.read_csv('firstCrimeClean.csv',index_col=0)

/usr/local/lib/python3.7/dist-packages/numpy/lib/arraysetops.py:580: FutureWarning: elementwise comparison failed; returning scalar instead, but in the future will perform elementwise comparison
  mask |= (ar1 == a)

In [ ]:
df_o

                           Date                 Block  ...   Latitude  Longitude
0        05/03/2016 11:40:00 PM    013XX S SAWYER AVE  ...  41.864073 -87.706819
1        05/03/2016 09:40:00 PM    061XX S DREXEL AVE  ...  41.782922 -87.604363
2        05/03/2016 11:31:00 PM   053XX W CHICAGO AVE  ...  41.894908 -87.758372
3        05/03/2016 10:10:00 PM     049XX W FULTON ST  ...  41.885687 -87.749516
4        05/03/2016 10:00:00 PM     003XX N LOTUS AVE  ...  41.886297 -87.761751
...                         ...                   ...  ...        ...        ...
1456709  05/03/2016 11:33:00 PM       026XX W 23RD PL  ...  41.849222 -87.691556
1456710  05/03/2016 11:30:00 PM   073XX S HARVARD AVE  ...  41.760744 -87.633335
1456711  05/03/2016 12:15:00 AM       024XX W 63RD ST  ...  41.779235 -87.685207
1456712  05/03/2016 09:07:00 PM  082XX S EXCHANGE AVE  ...  41.745252 -87.552773
1456713  05/03/2016 11:38:00 PM       001XX E 75TH ST  ...  41.758309 -87.620658

[1456714 rows x 8 columns]

In [ ]:
df_o.to_json('Crimefinaldate.json',orient='table')
df_o[0:1].to_json('CrimeEmpty.json',orient='table')

for idx in range(0,14):
  df_o[idx*100000+2:idx*100000+100001].to_json('CrimePart'+str(idx)+'.json',orient='index')
df_o[1400002:].to_json('CrimePart14.json',orient='index')